.nav-menu {
  position: absolute;
  bottom: 0;
  z-index: 3;
  text-align: center;
  width: 100%;
  padding-bottom: 3px;
  min-width: 80px;
  max-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu-button {
  height: 35px;
  margin: 0 5px;
  padding: 7px 8px 7px 6px;
  width: fit-content;
  text-align: center;
  background: rgb(255, 255, 255, 0.8);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: rgb(0, 0, 0);
}
.nav-menu-button-text {
  display: inline-block;
  font-size: 18px;
  position: relative;
}
.nav .nav-menu-button:hover {
  background: rgba(200, 200, 200, 1);
}

.controls-wrapper {
  position: absolute;
  bottom: 50px;
  z-index: 2;
  text-align: center;
  width: 50%;
  padding-top: 13px;
  padding-bottom: 3px;
  right: 25%;
  left: 25%;
  max-height: 31vh;
}

.controls {
  margin: 0 0.5px;
  max-height: 31vh;
  display: none;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.close-controls-button {
  font-size: 8px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0%;
  right: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 1.25em;
}

.controls::-webkit-scrollbar {
  width: 10px;
}

.controls::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

@media (max-width: 800px) {
  .controls {
    overflow-y: scroll;
  }

}

.ctrl, .ctrl_buildings  {
  padding: 5px 5px;
  width: available;
  min-width: 150px;
  border-radius: 10px;
  height: available;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border: #6C207E 3px solid;
  cursor: pointer;
  color: black;
}
.ctrl:hover,
.ctrl_buildings:hover {
  background: rgba(200, 200, 200, 1);
}

.nav-menu-top {
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 5;
  text-align: right;
  float: right;

  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 8px;
  border: 4px solid #00539b;

  padding: 5px 10px;

  /* Adjust for icon font offset */
  padding-bottom: 3px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  min-width: 225px;
}
.nav-menu-top-button {
  cursor: pointer;
  color: black;
}
.nav-menu-top-button:hover,
.nav-menu-top-button:hover .tooltiptext {
  /*color: white;*/
  visibility: visible;
}
.tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 100%;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}

#audio_elm {
  position: relative;
  display: inline-block;
  visibility: hidden;
  padding: 8px 0;
  z-index: 1;
  text-align: center;
  height: 44px;
  margin-right: 5px;
}

.direction-indicator {
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: translate(-50%, -50%);

  color: #00539b;
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
    .nav-menu-button {
      height: fit-content;
      border-width: 0.3vw !important;
      padding: 0.7vw 0.7vw 0.7vw 0.7vw !important;
      border-radius: 1vw !important;
    }
    .nav-menu-button > i {
      font-size: 2vw !important;
    }
    .nav-menu-button-text {
      font-size: 2vw;
    }
    .controls {
      grid-template-columns: none;
    }
    .ctrl {
      padding: 1vw 1vw;
      min-width: 10vw;
      border-radius: 1.5vw;
      font-size: 2vw;
    }
}

@media screen and (max-width: 550px) {
  .nav-menu-top {
    display: none;
  }
  .direction-indicator{
    font-size: 5vw;
    top: 8vh;
  }
  .controls-wrapper {
    bottom:7vh;
    transform-origin: bottom;
  }
}

@media screen and (max-width: 350px) {
  .controls-wrapper {
    bottom:5vh;
  }
  .direction-indicator{
    font-size: 5vw;
    top: 6vh;
  }
}